# Use this file to define individuals or teams that are responsible for code in a repository.
# Each CODEOWNERS file assigns the code owners for a single branch in the repository, i.e you can assign different code owners for different branches.